<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text: </strong>
  <%= @article.text  %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>

<h2> Show Comment: </h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter: </strong> <%= comment.commetner %>
    <strong>Comment: </strong> <%= comment.body %>
    <strong>Check: </strong> <%= comment.buy %>

    <%= button_to (comment.buy ? "Turn False" : "Turn True"), update_buy_article_comment_path(@article, comment), class: 'btn btn-outline-dark',  method: :patch %>
    <%= link_to (comment.buy ? "Turn False" : "Trun True"), update_buy_article_comment_path(@article, comment), method: :patch %>
    <%= link_to 'Edit', edit_article_comment_path(@article, comment) %>
    <%= link_to 'Destroy', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<h2> Add Comment: </h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commetner %>
    <%= f.text_field :commetner %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :buy %>
    <%= f.check_box :buy %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>